@import "tailwindcss";

.bars {
    background-color: #0f0f0f;
    border: 2px solid;
    border-color: blueviolet;
}

.infinite-scroll {
    animation: scrollAnimation 15s linear 0s infinite forwards;
}

@keyframes scrollAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translate(-100%)
    }
}