@import "tailwindcss";

img {
    pointer-events: none;
}

.bars {
    background-color: #0f0f0f;
    border: 2px solid;
    border-color: blueviolet;
}

.infinite-scroll {
    animation: scrollAnimation 15s linear 0s infinite forwards;
}

.clickfeedback {
    animation: clickanimation 0.3s forwards;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

@keyframes scrollAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translate(-100%)
    }
}

@keyframes clickanimation {
    0% {
        transform: scale3d(2, 2, 2);
    }
    50% {
        transform: translateY(-50%)
    }
    to {
        transform: translateY(-100%)
    }
}